@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
	--color-darkGreenCustom: #17542A;
	--color-lightGreenCustom: #9ABC43;
	--color-paleGreenCustom: #20B073;
	--color-mintGreenCustom: #EEFFF4;
	--color-blackCustom: #333333;
	--color-whiteCustom: #FFFFFF;
	--color-beigeCustom: #F0E9CD;
	--color-orangeCustom: #F4901D;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	display: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.navbar {
	width: 100vw;
	height: 120px;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

@media screen and (min-width: 768px) {
	.navbar {
		height: 130px;
	}
}

/* Style - Mobile S */
.btn-backToHome {
	z-index: 45;
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
	position: fixed;
	top: 52%;
	left: -26px;
}

/* Media Query Style - Mobile M/L */
@media (min-width: 376px) and (max-width: 425px) {
	.btn-backToHome {
		top: 52%;
		left: -23px;
	}
}

/* Media Query Style - Tablet */
@media (min-width: 426px) and (max-width: 768px) {
	.btn-backToHome {
		top: 50%;
		left: -9px;
	}
}

/* Media Query Style - Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
	.btn-backToHome {
		top: 50%;
		left: -15px;
	}
}

/* Media Query Style - Laptop L */
@media (min-width: 1025px) and (max-width: 1440px) {
	.btn-backToHome {
		top: 50%;
		left: 0;
	}
}

/* Media Query Style - 4K */
@media screen and (min-width: 1441px) {
	.btn-backToHome {
		top: 50%;
		left: 25px;
	}
}
