@import "tailwindcss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar {
	width: 100vw;
	height: 15vh;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
